<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoAI</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header>
    <h2>🌱 EcoAI</h2>
</header>

<section class="hero">

    <h1>AI-Powered Smart Energy Management</h1>

    <p>
        Monitor electricity usage, predict future consumption,
        detect abnormal energy waste and reduce carbon footprint.
    </p>

    <a href="/dashboard">
    <button>Launch Dashboard</button>
</a>

</section>

</body>
</html>